body { background: #9cd91; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 54px; display: flex; }
.block-session-0 { color: #b1a5d5; font-size: 14px; margin-bottom: 5px; }
.block-email-1 { color: #274d4d; font-size: 14px; margin-bottom: 5px; }
.block-helper-2 { color: #a359e5; font-size: 16px; margin-bottom: 5px; }
.block-cluster-3 { color: #926272; font-size: 12px; margin-bottom: 5px; }
.block-invoice-4 { color: #b0e22f; font-size: 21px; margin-bottom: 5px; }